@{
    ViewBag.Title = "Multiplayer 3D Demo";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

<div id="info">
    <h3>Multiplayer 3D Demo - @Html.ActionLink("More Info", "About", "Home")</h3>
    <p>Other spaceships are other players viewing the page</p>
    <p class="webgl-message">Fly with WASD/RF/QE + mouse</p>
    <p class="no-webgl-message">
        Sorry, you don't have WebGL enabled. Please visit <a href="http://get.webgl.org/">http://get.webgl.org/</a> for more info
    </p>
    <img class="no-webgl-message" src="~/Images/screenshot1.png" />
</div>

<div id="console"></div>

<div id="controls">
    <button id="control-forward">Forward</button>
    <button id="control-back">Back</button>
    <button id="control-left">Left</button>
    <button id="control-right">Right</button>
    <button id="control-up">Up</button>
    <button id="control-down">Down</button>
    <button id="control-pitchup">Pitch Up</button>
    <button id="control-pitchdown">Pitch Down</button>
    <button id="control-yawleft">Yaw Left</button>
    <button id="control-yawright">Yaw Right</button>
    <button id="control-rollleft">Roll Left</button>
    <button id="control-rollright">Roll Right</button>
</div>

<canvas width="100" height="100" id="radar"></canvas>

@section scripts {

<script>
    var playerId = '@ViewBag.PlayerGuid.ToString()';
</script>

@Scripts.Render("~/bundles/game")

}