@{
    ViewBag.Title = "Multiplayer 3D Demo";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

<div id="info">
    <p class="webgl-message">
        Based on <a href="http://threejs.org/examples/webgl_lensflares.html">this lensflare demo</a> - fly with WASD/RF/QE + mouse
        <br />
        Other people viewing the page are represented as cubes showing where they are - updated in real time. @Html.ActionLink("More Info", "About", "Home") 
    </p>
    <p class="no-webgl-message">
        Sorry, you don't have WebGL enabled. Please visit <a href="http://get.webgl.org/">http://get.webgl.org/</a> for more info.
    </p>
    <img class="no-webgl-message" src="~/Images/kitten.jpg" />
</div>

<div id="console"></div>

@section scripts {

<script>
    var playerId = '@ViewBag.PlayerGuid.ToString()';
</script>

@Scripts.Render("~/bundles/game")

}