@{
    ViewBag.Title = "Multiplayer 3D Demo";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

<div id="info">
    <p class="webgl-message">
        Multiplayer 3D Demo - fly with WASD/RF/QE + mouse
        <br />
        Other spaceships are other players viewing the page. @Html.ActionLink("More Info", "About", "Home") 
    </p>
    <p class="no-webgl-message">
        Sorry, you don't have WebGL enabled. Please visit <a href="http://get.webgl.org/">http://get.webgl.org/</a> for more info.
        <br />
        Read more info about this demo @Html.ActionLink("here", "About", "Home").
    </p>
    <img class="no-webgl-message" src="~/Images/kitten.jpg" />
</div>

<div id="console"></div>

<canvas width="100" height="100" id="radar"></canvas>

@section scripts {

<script>
    var playerId = '@ViewBag.PlayerGuid.ToString()';
</script>

@Scripts.Render("~/bundles/game")

}