@{
    ViewBag.Title = "Controls";
}

<article>

    <h2>Controls</h2>
    
    <h3>Mouse</h3>

    <ul>
        <li>Moving the mouse pointer away from the centre will turn your ship in that direction</li>
        <li>Left click moves your ship forward</li>
        <li>Right click moves your ship backwards</li>
    </ul>

    <h3>Keyboard</h3>

    <ul>    
        <li><strong>W</strong> moves your ship forward</li>
        <li><strong>A</strong> moves your ship to the left</li>
        <li><strong>S</strong> moves your ship backwards</li>
        <li><strong>D</strong> moves your ship to the right</li>
        <li><strong>Q</strong> rotates your ship around the forward axis to the left</li>
        <li><strong>E</strong> rotates your ship around the forward axis the the right</li>
        <li><strong>R</strong> moves your ship upwards</li>
        <li><strong>F</strong> moves your ship down</li>
    </ul>

</article>
