@{
    ViewBag.Title = "Game";
}

<h2>Game</h2>

<div id="container" style="background: #000; width: 400px; height: 300px;"></div>

@section scripts {

    <script type="text/javascript">
        $(function () {



            // set the scene size
            var WIDTH = 400,
                HEIGHT = 300;

            // set some camera attributes
            var VIEW_ANGLE = 45,
                ASPECT = WIDTH / HEIGHT,
                NEAR = 0.1,
                FAR = 10000;

            // get the DOM element to attach to
            // - assume we've got jQuery to hand
            var $container = $('#container');

            // create a WebGL renderer, camera
            // and a scene
            var renderer = new THREE.WebGLRenderer();
            var camera = new THREE.PerspectiveCamera(VIEW_ANGLE,
                                            ASPECT,
                                            NEAR,
                                            FAR);
            var scene = new THREE.Scene();
            scene.fog = new THREE.Fog(0x000000, 3500, 15000);
            scene.fog.color.setHSL(0.51, 0.4, 0.01);

            var clock = new THREE.Clock();

            // the camera starts at 0,0,0 so pull it back
            camera.position.z = 300;

            // start the renderer
            renderer.setSize(WIDTH, HEIGHT);

            // attach the render-supplied DOM element
            $container.append(renderer.domElement);

            var geometry = new THREE.CubeGeometry(1, 1, 1);
            var material = new THREE.MeshLambertMaterial({ color: 0x00ff00 });
            var cube = new THREE.Mesh(geometry, material);
            scene.add(cube);

            controls = new THREE.FlyControls(camera);

            controls.movementSpeed = 25;
            controls.domElement = container;
            controls.rollSpeed = Math.PI / 6;
            controls.autoForward = false;
            controls.dragToLook = false

            // and the camera
            scene.add(camera);

            // lights

            var ambient = new THREE.AmbientLight(0xffffff);
            ambient.color.setHSL(0.1, 0.3, 0.2);
            scene.add(ambient);


            var dirLight = new THREE.DirectionalLight(0xffffff, 0.125);
            dirLight.position.set(0, -1, 0).normalize();
            scene.add(dirLight);

            dirLight.color.setHSL(0.1, 0.7, 0.5);

            camera.position.z = 5;

            // draw!
            var render = function () {
                requestAnimationFrame(render);

                cube.rotation.x += 0.01;
                cube.rotation.y += 0.01;

                var delta = clock.getDelta();

                controls.update(delta);

                renderer.render(scene, camera);
            };

            render();

        });
    </script>

}