@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

<div id="info">
    Requires Google Chrome with WebGL Enabled - fly with WASD/RF/QE + mouse
</div>

<div id="console"></div>

@section scripts {

@Scripts.Render("~/bundles/game")

}