@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                @Html.ActionLink("Click here to get to the Demo", "Index", "Game")
            </p>
        </div>
    </section>
}
<h3>Built with the following technologies:</h3>
<ol class="round">
    <li class="one">
        <h5>Three.js</h5>
        Three.js is a WebGL javascript library
        <a href="http://threejs.org/">Learn more…</a>
    </li>

    <li class="two">
        <h5>SignalR</h5>
        SignalR is Real-Time Communications library for the web
        <a href="http://signalr.net/">Learn more…</a>
    </li>

    <li class="three">
        <h5>Windows Azure</h5>
        Windows Azure is Microsofts Cloud Hosting Solution
        <a href="http://www.windowsazure.com/">Learn more…</a>
    </li>
</ol>
